<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add a New User</title>
</head>
<body>
    <h1>Add a New User</h1>
    <p align="center"><a href='/'>Home</a></p>
    <form action="/users/add", method="POST">
        <div>
          <label>First Name</label>
          <input type="text" class="form-control" name="FN" placeholder="First_Name">
          <label>Last Name</label>
          <input type="text" class="form-control" name="LN" placeholder="Last_Name">
          <label>Email</label>
          <input type="text" class="form-control" name="EM" placeholder="Email">
          <input  type='submit' class="btn btn-outline-primary" value='Submit'>
        </div>       
      </form
    
</body>
</html>